html
    head
        style
        script(src = "a.js")
        link(href="a.css",rel="stylesheet")
    body
        div
            ul
                li
                li
                li
        div